<h1>Productos</h1>

@if (cargando()) {
  <p>Cargando...</p>
}

<div class="filtros">
  <select [ngModel]="filtroCategoria()" (ngModelChange)="filtroCategoria.set($event)">
    <option [ngValue]="null">Todas las categorías</option>
    @for (cat of categorias(); track cat.id) {
      <option [ngValue]="cat.id">{{ cat.nombre }}</option>
    }
  </select>

  <input
    type="number"
    placeholder="Precio máximo"
    [ngModel]="filtroPrecioMax()"
    (ngModelChange)="filtroPrecioMax.set($event)"
  />

  <input
    type="text"
    placeholder="Buscar por nombre"
    [ngModel]="filtroNombre()"
    (ngModelChange)="filtroNombre.set($event)"
  />

  <button (click)="cargarProductos()">Filtrar</button>
  <button (click)="limpiarFiltros()">Limpiar</button>

  <button type="button" (click)="nuevoProducto()">Nuevo</button>
  <button type="button" (click)="administrarCategorias()">Administrar Categorias</button>
</div>

<div class="grid-productos">
  @for (producto of productos(); track producto.id) {
    <div class="fila-producto">
      <div class="acciones">
        <button (click)="editar(producto.id)">Editar</button>
        <button (click)="eliminar(producto.id)">Eliminar</button>
      </div>

      <a [routerLink]="['/productos', producto.id]" class="tarjeta-link">
        <app-tarjeta-producto [producto]="producto" />
      </a>
    </div>
  }
</div>
